<ion-header>
    <ion-toolbar class="header-toolbar">
        <ion-button fill="clear" class="profile-button" (click)="goToProfile()">
            <ion-icon name="person-circle" slot="icon-only"></ion-icon>
        </ion-button>
        <div class="header-title-container">
            <ion-title class="header-title">MI JARDÍN</ion-title>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Contenido principal aquí -->
</ion-content>

<ion-tabs>
    <ion-tab-bar slot="bottom" class="custom-tab-bar">
        <!-- Inventario - Izquierda -->
        <ion-tab-button tab="plant-list" class="inventory-tab" id="tab-button-plant-list">
            <ion-icon name="leaf" class="tab-icon"></ion-icon>
            <span class="tab-label">Plantas</span>
            <div class="plant-counter">{{ plantCount }}</div>
        </ion-tab-button>

        <!-- Add - Centro -->
        <ion-tab-button tab="add" class="add-tab" id="tab-button-add">
            <ion-icon name="add-circle" class="tab-icon"></ion-icon>
            <span class="tab-label">Agregar</span>
        </ion-tab-button>

        <!-- Agua - Derecha -->
        <ion-tab-button tab="cant" class="water-tab" id="tab-button-water">
            <ion-icon name="water" class="tab-icon"></ion-icon>
            <span class="tab-label">Riego</span>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>